In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("dataset.csv")

# Supprimer les lignes duppliquées
print(f"Lignes dupliquées : {len(df)-len(df.drop_duplicates())}")
df.drop_duplicates(inplace=True)

# Supprimmer les lignes ne contenant pas de localisation de quartier
old_df = df
df = df.dropna(subset=['NTAName'])
print(f"Lignes n'ayant pas de quartier supprimées : {len(old_df)-len(df)}")



df

Lignes dupliquées : 0
Lignes n'ayant pas de quartier supprimées : 635

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column,NTAName
0,301189557,122,STATEN ISLAND,02/16/2025,21:45:00,02/16/2025,22:04:00,COMPLETED,(null),NaN,...,UNKNOWN,UNKNOWN,E,951236.0,159312.0,40.603899,-74.118892,"(40.603899, -74.118892)",POINT (-74.118892 40.603899),Todt Hill-Emerson Hill-Lighthouse Hill-Manor H...
1,301604313,7,MANHATTAN,02/24/2025,00:00:00,02/24/2025,00:20:00,COMPLETED,(null),NaN,...,25-44,BLACK,M,987191.0,201195.0,40.718919,-73.989391,"(40.718919, -73.989391)",POINT (-73.989391 40.718919),Lower East Side
2,301449652,122,STATEN ISLAND,02/21/2025,04:50:00,NaN,(null),COMPLETED,(null),NaN,...,UNKNOWN,UNKNOWN,D,960224.0,156401.0,40.595937,-74.086513,"(40.595937, -74.086513)",POINT (-74.086513 40.595937),Grasmere-Arrochar-South Beach-Dongan Hills
3,302998076,14,MANHATTAN,03/17/2025,10:45:00,03/17/2025,10:45:00,COMPLETED,(null),NaN,...,25-44,BLACK,M,990513.0,213251.0,40.752009,-73.977394,"(40.752009, -73.977394)",POINT (-73.977394 40.752009),Murray Hill-Kips Bay
4,298992911,60,BROOKLYN,01/05/2025,00:01:00,01/05/2025,23:59:00,COMPLETED,(null),NaN,...,<18,BLACK,F,990784.0,149362.0,40.576646,-73.976480,"(40.5766459780433, -73.9764803960699)",POINT (-73.9764803960699 40.5766459780433),Coney Island-Sea Gate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138241,302238102,109,QUEENS,03/07/2025,16:44:00,03/07/2025,16:56:00,COMPLETED,(null),NaN,...,UNKNOWN,UNKNOWN,D,1030206.0,215367.0,40.757699,-73.834116,"(40.757699, -73.834116)",POINT (-73.834116 40.757699),Flushing-Willets Point
138242,301969900,109,QUEENS,03/03/2025,13:00:00,03/03/2025,13:17:00,COMPLETED,(null),NaN,...,25-44,ASIAN / PACIFIC ISLANDER,M,1031129.0,217396.0,40.763265,-73.830773,"(40.763265, -73.830773)",POINT (-73.830773 40.763265),Flushing-Willets Point
138243,303058005,113,QUEENS,03/10/2025,07:45:00,03/10/2025,08:00:00,COMPLETED,(null),NaN,...,25-44,BLACK,M,1045647.0,187127.0,40.680094,-73.778641,"(40.680094, -73.778641)",POINT (-73.778641 40.680094),Baisley Park
138244,300633956,47,BRONX,01/27/2025,08:00:00,02/05/2025,14:17:00,COMPLETED,(null),NaN,...,25-44,WHITE HISPANIC,F,1025208.0,263977.0,40.891146,-73.851863,"(40.891146, -73.851863)",POINT (-73.851863 40.891146),Wakefield-Woodlawn
138245,304109652,106,QUEENS,03/30/2025,02:05:00,03/30/2025,02:05:00,COMPLETED,(null),NaN,...,45-64,ASIAN / PACIFIC ISLANDER,F,1036544.0,191353.0,40.691751,-73.811427,"(40.691751, -73.811427)",POINT (-73.811427 40.691751),South Richmond Hill

In [2]:
# Ne garder que les colonnes utiles
df = df[['CMPLNT_FR_DT', 'NTAName', 'OFNS_DESC', 'KY_CD']].copy()

# Renommage des colonnes
df = df.rename(columns={
    'CMPLNT_FR_DT':   'DATE',
    'NTAName':        'QUARTIER',
    'OFNS_DESC':    'DESC_INFRACTION',
    'KY_CD':          'CODE_INFRACTION'
})

df

,DATE,QUARTIER,DESC_INFRACTION,CODE_INFRACTION
0,02/16/2025,Todt Hill-Emerson Hill-Lighthouse Hill-Manor H...,DANGEROUS DRUGS,117
1,02/24/2025,Lower East Side,ROBBERY,105
2,02/21/2025,Grasmere-Arrochar-South Beach-Dongan Hills,BURGLARY,107
3,03/17/2025,Murray Hill-Kips Bay,CRIMINAL MISCHIEF & RELATED OF,351
4,01/05/2025,Coney Island-Sea Gate,RAPE,104
...,...,...,...,...
138241,03/07/2025,Flushing-Willets Point,PETIT LARCENY,341
138242,03/03/2025,Flushing-Willets Point,ASSAULT 3 & RELATED OFFENSES,344
138243,03/10/2025,Baisley Park,HARRASSMENT 2,578
138244,01/27/2025,Wakefield-Woodlawn,HARRASSMENT 2,578
138245,03/30/2025,South Richmond Hill,HARRASSMENT 2,578

In [3]:
# Conversion de la date
df['DATE'] = pd.to_datetime(
    df['DATE'],
    format='%m/%d/%Y',
    dayfirst=True,
    errors='coerce'
)

# Compteur d'infraction & aggrégation
df_counts = (
    df
      .groupby(['QUARTIER','DATE','CODE_INFRACTION'])
      .size()
      .reset_index(name='count')
)

# Pivot : chaque colonne = un code_infraction
df_pivot = df_counts.pivot_table(
    index=['QUARTIER','DATE'],
    columns='CODE_INFRACTION',
    values='count',
    fill_value=0
).reset_index()

# conversion des float en int
int_cols = df_pivot.columns.difference(['QUARTIER', 'DATE'])

df_pivot[int_cols] = (df_pivot[int_cols]
                       .fillna(0)
                       .astype('int32'))

# ajouter un compteur total d'infraction par ligne
# code_cols = [c for c in df_pivot.columns if c not in ['QUARTIER', 'DATE', 'CODE_INFRACTION']]
df_pivot['NB_INFRACTION'] = df_pivot[int_cols].sum(axis=1)

df_pivot

CODE_INFRACTION,QUARTIER,DATE,101,103,104,105,106,107,109,110,...,365,366,455,572,578,675,676,677,678,NB_INFRACTION
0,Allerton,2020-02-25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Allerton,2023-03-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Allerton,2024-01-04,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Allerton,2024-02-04,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Allerton,2024-04-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23970,Yankee Stadium-Macombs Dam Park,2025-03-14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23971,Yankee Stadium-Macombs Dam Park,2025-03-18,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
23972,Yankee Stadium-Macombs Dam Park,2025-03-21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23973,Yankee Stadium-Macombs Dam Park,2025-03-26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23974,Yankee Stadium-Macombs Dam Park,2025-03-30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
# il y a trop de disparités sur le nombre de crimes par années, supprimmer les lignes avec une date inférieure à 2024
df_pivot = df_pivot[df_pivot['DATE'].dt.year >= 2024]

In [5]:
# Trie & features calendaires identiques
df = df_pivot.sort_values(["QUARTIER", "DATE"]).reset_index(drop=True)
df["dow"]   = df["DATE"].dt.dayofweek
df["month"] = df["DATE"].dt.month
phase       = 2 * np.pi * df["DATE"].dt.dayofyear / 365
df["doy_sin"] = np.sin(phase)
df["doy_cos"] = np.cos(phase)

In [6]:
# On a beaucoup trop de lignes contenant zero crimes, on les réduit sinon le modele va surapprendre les journées sans rien
# mask_zero = df["NB_INFRACTION"] == 0
# # On ne garde que 20% de journées calmes
# mask_keep = ~mask_zero | (np.random.rand(len(df)) < 0.2)
# df = df[mask_keep].reset_index(drop=True)

In [7]:
df.to_csv("dataset_pred_crime_quartier_date.csv", index=False)